<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando rotina de leitura</title>
</head>
<body>
    <form method="POST">
        <h1>READING...</h1>       
            <select name="select">
        
            <% for(let i=0;i < (infolivro.length);i++ ) { %>
                
                <option value=<%= infolivro[i] %>><%= infolivro[i] %></option>
                
              <% } %>
            

            </select>


        
        <label>Paginas Lidas</label>
        <input type="text" name="paginas">
        <input type="date" name="data">
        <input type="button" value="Voltar">
        <input type="submit" value="Adicionar Rotina">
</form>
</body>
</html>