<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/CreateCount.css">
    <title>Alterando Conta</title>
</head>

<body>
    <section class="area-login">
        <div class="login">
            <div class="imagem">
                <img src="/public/img/Reading....svg">
            </div>

            <form method="Post">
                <label>Nome:</label>
                <input type="text" name="userNome" value=<%= Nome%>>
                <label>Email:</label>
                <input type="text" name="userEmail"value=<%= Email%>>
                <label>Senha:</label>
                <input type="text" name="userSenha">
                <label>Confirme a senha:</label>
                <input type="text" name="userConfirmeSenha">
                <input type="submit" value="Alterar Conta" />
                <input type="button" id="btnCancelar" value="Cancelar" />
            </form>

</body>

</html>