<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet" href="resetcss">
    <link rel="stylesheet" href="CreateCountcss">
    <title>Criando Conta</title>
</head>

<body>
    <section class="area-login">
        <div class="login">
            <div class="imagem">
                <img src="imgreading ">
            </div>

            <form action="/NovoUsuario" method="Post">
                <label>Nome:</label>
                <input type="text" name="userNome">
                <label>Email:</label>
                <input type="text" name="userEmail">
                <label>Senha:</label>
                <input type="text" name="userSenha">
                <label>Confirme a senha:</label>
                <input type="text" name="userConfirmeSenha">
                <input type="button" value="Criar Conta" />
                <input type="submit" id="btnCancelar" value="Cancelar" />
            </form>

</body>

</html>