<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando Conta</title>
</head>
<body>

    <form action="/NovoUsuario" method="Post">
            <h1>READING...</h1>
            <label>Nome</label>
            <input type="text" name="userNome">
            <label>Email</label>
            <input type="text" name="userEmail">
            <label>Senha</label>
            <input type="text" name="userSenha">
            <label>Confirme a senha</label>
            <input type="text" name="userConfirmeSenha">
            <input type="button" value="Criar Conta"/>
            <input type="submit" id="btnLogar" value="Logar" />
    </form>
    
</body>
</html>