<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= clientID %>&currency=BRL"></script>
  <script src="/public/scripts/payment.js" defer></script>
</head>
<body>
  <div id="paypal"></div>
  <h1 id="funciona"> <%=userID%></h1>
</body>
</html>